joblib==1.6.0
lightgbm==4.7.0
numpy==2.5.3
pandas==3.0.6
pyarrow==25.0.1
python-dateutil==2.9.0.post0
RapidFuzz==3.14.6
scikit-learn==1.9.1
scipy==1.18.1
six==1.17.0
threadpoolctl==3.7.0
tqdm==4.70.1
